/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log
../2024-admin-medusa/
../2024-backend-medusa/
../2024-backend-medusa_old230216/
../2024-storefront-medusa/
../google-ads/
db_backups/

docs/github_api.md
!.npmrc
.idea

coverage

!src/**

./tsconfig.tsbuildinfo
package-lock.json
yarn.lock
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
